{% extends "base_trans.html" %}
{% load i18n %} 

{% block content %}

<div class="page-header">
	<h2>{% trans "About" %}</h2>
</div>

<div class="row">
	<div class="well span4">
		<h3>{% trans "What?" %}</h3>
		<hr>
		<p class="lead"><b>SensibleDTU: Data Viewer </b>{% trans "is part of" %} <a href="http://www.sensible.dtu.dk/"><b> Sensible DTU</b></a> {% trans "project." %} </p>
		<p> {% trans "With this application you can access the data." %}</p>
	</div>
	
	<div class="well span6">
		<h3>Credits</h3>
		<hr>
		<p class="lead"><b>Piotr Sapiezynski</b>, pisa@dtu.dk</p>
		<p class="lead"><b>Cintia Valiente</b>, mcvber@student.dtu.dk</p>
		<p class="lead"><b>Arkadiusz Stopczynski</b>, arks@dtu.dk</p>
		<p class="lead"><b>Sune Lehmann</b>, sljo@dtu.dk</p>
	</div>
</div>

{% endblock %}
