{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h2>About</h2>
</div>

<div class="row">
	<div class="well span4">
		<h3>What?</h3>
		<hr>
		<p class="lead"><b>SensibleDTU: Data Viewer</b> is part of <a href="http://www.sensible.dtu.dk/"><b>Sensible DTU</b></a> project. </p>
		<p> With this application you can access to the data.</p>
	</div>
	
	<div class="well span6">
		<h3>Credits</h3>
		<hr>
		<p class="lead"><b>Piotr Sapiezynski</b>, pisa@dtu.dk</p>
		<p class="lead"><b>Arkadiusz Stopczynski</b>, arks@dtu.dk</p>
		<p class="lead"><b>Sune Lehmann</b>, sljo@dtu.dk</p>
		<p class="lead"><b>Cintia Valiente</b>, mcvber@student.dtu.dk</p>
	</div>
</div>

{% endblock %}
