{% extends "base_trans.html" %}
{% load i18n %} 

{% block content %}
<div class="container">
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
			<a href="#"><h3>{% trans "Questionnaires" %}</h3></a>
			<p>{% trans "Description..." %}</p>
			</div>
		</li>
		<li class="span4">
		    <div class="thumbnail">
		    <a href="#"><h3>Facebook</h3></a>
		    <p>{% trans "Description..." %}</p>
		    </div>
		</li>
		<li class="span4">
		    <div class="thumbnail">
		    <a href="#"><h3>{% trans "Mobile" %}</h3></a>
		    <p>{% trans "Description..." %}</p>
		    </div>
		</li>
	</ul>
</div>
{% endblock %}
