{% extends "base_trans.html" %}

{% block content %}
    {% load staticfiles %}
    <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>
     <script src="{% static "data_quality.js" %}"></script>
    {% load i18n %}

    <link rel='stylesheet' type="text/css" href='{% static "data_quality.css" %}'>

<div class="page-header">
	<h3>Data quality</h3>
	<div style="word-wrap: break-word;" id="div_url"></div>
</div>
    {% for key, value in quality_types.items %}


    <h4>{{ value }}</h4>
    <div id="loading-{{ key }}">
        <img src="{% static "img/spinner.gif" %}" alt="Loading..." style = "width:24px;height:auto;margin:0 auto;margin-left:35%"/>
    </div>
    <svg class="chart-{{ key }}"></svg>

    <script>
        var today = new Date();
        var todayString = today.getFullYear().toString() + "-" + (today.getMonth() + 1).toString() + "-" + today.getDate().toString();

        $.ajax({
            url: "{{ root_url }}" + "get_quality_users_for_period",
            data: {"data_type": "{{ key }}", "start": "2013-09-01", "end": todayString},
            success: function(data) {
                $("#loading-" + "{{ key }}").hide();
                var rawUrl = "{{ root_url }}" + "raw_phone_" + "{{ key }}";

                createQualityChartFromJSON(data, "{{ key }}", rawUrl);

            },

            error: function(data) {
                $("#loading-" + "{{ key }}").text(data.statusText);
            }
        });
    </script>
    {% endfor %}
{% endblock %}