{% extends "base.html" %}


{% block content %}

<script>
	function submitQuery(type, params) {
		console.log('submitting '+ type + ' ' +params['pretty'] + ' '+params['start_date'])

		var opts = {
			lines: 17, // The number of lines to draw
			length: 0, // The length of each line
			width: 10, // The line thickness
			radius: 31, // The radius of the inner circle
			corners: 1, // Corner roundness (0..1)
			rotate: 0, // The rotation offset
			direction: 1, // 1: clockwise, -1: counterclockwise
			color: '#000', // #rgb or #rrggbb or array of colors
			speed: 1, // Rounds per second
			trail: 100, // Afterglow percentage
			shadow: false, // Whether to render a shadow
			hwaccel: true, // Whether to use hardware acceleration
			className: 'spinner', // The CSS class to assign to the spinner
			zIndex: 2e9, // The z-index (defaults to 2000000000)
			top: 'auto', // Top position relative to parent in px
			left: 'auto' // Left position relative to parent in px
		};


		var target = document.getElementById('results_spinner');
		var spinner = new Spinner(opts).spin(target);

		console.log(params)
		var jqxhr = $.get(
		'https://54.229.13.160/devel/sensible-dtu/connectors/connector_raw/v1/location/?bearer_token=' + used_token +'&decrypted=True', params, 
		function(data) { gotData(data, params); }).fail(function() {if (jqxhr.status == 401) { alert('Your token has expired, we need to refresh the window'); location.reload(); } else alert('Something went wrong, try refreshing the page')});
	}

	function selectText(containerid) {
		if (document.selection) {
			var range = document.body.createTextRange();
			range.moveToElementText(document.getElementById(containerid));
			range.select();
			} else if (window.getSelection) {
			var range = document.createRange();
			range.selectNode(document.getElementById(containerid));
			window.getSelection().addRange(range);
		}
	}


	function gotData(data, params) {
		//console.log(data)
		if (params['pretty'] == false)
		{
			data = JSON.stringify(data)
		}
		$('#results').html(data); 
		$('#results_spinner').html(''); 


	}

	function validate(){
		var chks = document.getElementsByName('order[]');
		for (var i = 0; i < chks.length; i++)
		{
			if (chks[i].checked)
			{
				return chks[i].value
				break;
			}
		}
	}

	function buildParams() {
		console.log(document.getElementById('param_pretty').checked)
		
		params = {}
		params['pretty'] = document.getElementById('param_pretty').checked
		params['decrypted'] = document.getElementById('decrypted').checked

		if (document.getElementById('fields').value !='')
			{params['fields'] = document.getElementById('fields').value}
		else
			{params['fields'] = 'data.TIMESTAMP,data.LOCATION.mLongitude,data.LOCATION.mLatitude,data.LOCATION.mProvider,data.LOCATION.mAccuracy'}		

		if (document.getElementById('sortby').value !='')
			{params['sortby'] = document.getElementById('sortby').value}

		params['order'] = validate()

		//params['start_date'] = document.getElementById('start_date').text

		//params['end_date'] = document.getElementById('end_date').text
		
		if (document.getElementById('start_date').value !='')
			{params['start_date'] = document.getElementById('start_date').value}
			
		if (document.getElementById('end_date').value !='')
			{params['end_date'] = document.getElementById('end_date').value}

		if (document.getElementById('limit').value !='')
			{params['limit'] = parseInt(document.getElementById('limit').value)}
		
		return params;
	}

</script>

<style type="text/css">
	.scrollable {
		height: 100%;
		overflow: auto;
	}
</style>

<div class="page-header">
	<h3>Location</h3>
</div>
<h4>
<div class="row">
		<p>
		<div class="span5">
			<form> <input type="checkbox" id="param_pretty" value="Pretty" checked> Pretty formatting (pretty)</form>
		</div>

	
   		<div class="span5"> 
			<form><input type="checkbox" id="decrypted" value="Decrypted"> Decrypted</form>
		</div>

	
		<div class="span7">	
			<form>
			<fieldset>
			    <!--<label>Order</label>-->
			    <input type="radio" name="order[]" id="descending" value="-1"> Descending
			    <input type="radio" name="order[]" id="ascending" value="1"> Ascending
			</fieldset>
			</form>
		</div>
	

		<div class="span5"> 
			<form>
			<fieldset>
			    <label>Fields to return</label>
			    <input type="text" id='fields' placeholder="Enter the fields separeted with ','">
			</fieldset>
			</form>
		</div> 

	
		<div class="span5">
			<form>
			<fieldset>
			    <label>Sort by</label>
			    <input type="text" id='sortby' placeholder="Field you want to sort by…">
			</fieldset>
			</form>
		</div>
	



		
		<div class="span5"> 
			<label>Start Date</label>
    <div class="input-append">
		    <input class="span" type="number" id="start_date" value="" placeholder="epoch timestamp">
			<button class="btn" type="button" id="start_date_picker"><i class="icon-calendar"></i></button>
				    </div>

					<script type="text/javascript">
					    $('#start_date_picker').datepicker()
						    .on('changeDate', function(e){
						    var y = e.date.getTime()/1000
						    $('#start_date')[0].value=y;
						    });
					</script>
		</div>
	

		<div class="span5"> 
			<label>End Date</label>
    <div class="input-append">
		    <input class="span" type="number" id="end_date" value="" placeholder="epoch timestamp">
			<button class="btn" type="button" id="end_date_picker"><i class="icon-calendar"></i></button>
				    </div>

					<script type="text/javascript">
					    $('#end_date_picker').datepicker()
						    .on('changeDate', function(e){
						    var y = e.date.getTime()/1000
						    $('#end_date')[0].value=y;
						    });
					</script>
		</div>

		<div class="span5"> 
			<form>
			<fieldset>
				<label>No. of documents</label>
			    <input type="number" id='limit' value=1000 placeholder="No. of documents…">
			</fieldset>
			</form>
		</div>
</p>
	
</div>
</h4>
	<div class="row">
		<p><hr></p>	
		<div class="span6"> 
			<button class="btn btn-primary" type="button" onclick="submitQuery('location', buildParams());">Submit <i class="icon-chevron-right icon-white"></i></button>
			<button class="btn" type="button" onclick="selectText('results')"><i class="icon-pencil"></i> Select</button>
			<button class="btn" type="button" onclick="$('#results').html('')"><i class="icon-remove"></i> Clear</button>
		</div>
	</div>
	

	<div id="results_spinner"></div>
{% endblock %}

{% block results %}
	<p></hr></p>
	<div id='results' class="pre-scrollable" style="height: auto; max-height: 600px">
		</div>
{% endblock %}
